{%  extends "index.html" %}
{% block  contents %}
{% for room in templatevalues.rooms %}
	<div class="panel panel-info">
	<div class="panel-heading">
		<div class="row">
            <div class="col-md-4">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{room}}">
				{{room}}
			  </a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <input type="checkbox"  name="{{room}}" onClick="roomLight(this)">
            </div> 
		</div>	
	</div>	
	<div class="panel-body">
		<div id="{{room}}" class="accordion-body collapse">
			<div class="accordion-inner">
				{% for lightdevice in templatevalues.lightdevices %}
                     {% if room == lightdevice[2]%}
                     	<div class="well well-sm">
                     		<div class="row">
							  <div class="col-xs-6 col-md-4">
							  		{{lightdevice[0]}} {{lightdevice[1]}}
							  </div>
							  <div class="col-xs-6 col-md-4">
							  	<label name="{{lightdevice[0]}}">
							  		Getting status
							  	</label>
							  </div>
							  <div class="col-xs-6 col-md-4">
							  	<input type="checkbox" name="{{lightdevice[0]}}" onClick="changeElem(this)">
							  </div>
							</div>
                     	</div>
                     {% endif %}
                {% endfor %} 
			</div>
		</div>
	</div>
	</div>
{% endfor %}
<script type="text/javascript" src="static/js/check-status.js"></script>               
{% endblock contents %}