<html>
  	<head>
  		<link href="static/css/bootstrap.css" rel="stylesheet">
  		<link href="static/css/bootstrap-switch.css" rel="stylesheet">
  		<script src="http://code.jquery.com/jquery.js"></script>
  		<script src="static/js/bootstrap.js"></script>
		<script src="static/js/bootstrap-switch.js"></script>
  		<!--<meta http-equiv="refresh" content="5">  reload page 5 per seconds --> 
  	</head>
	<body>
			<header class="navbar navbar-default navbar-static-top" role="banner">
			  <div class="container">
			    <div class="navbar-header">
			      <a href="/" class="navbar-brand">Smart Home</a>
			    </div>
			    <nav class="collapse navbar-collapse" role="navigation">
			      <ul class="nav navbar-nav">
			        <li>
			          <a href="#">Control</a>
			        </li>
			        <li>
			          <a href="/settings">Settings</a>
			        </li>
			        <li>
			          <a href="#">History</a>
			        </li>
			      </ul>
			    </nav>
			  </div>
			</header>
		{% block  content %}
		{% endblock %}
	</body>
</html>