{%  extends "settings.html" %}
{% block  contents %}
<!--   -->
<form action=""  method="post">
 {% if templatevalues.check %} 
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Well done!</strong> You successfully registered this device.
</div>
{% else %}
{% endif %} 
<div class="panel panel-info">
  <div class="panel-heading">
    Please enter device properties
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
        <select class="form-control" name="pin">
          {% for n in range(1,templatevalues.pin) %}
            <option>{{ n }}</option>
          {% endfor %}
        </select> 
      </div>
      <div class="col-xs-3">
        <select class="form-control" name="room">
        {% for room in templatevalues.rooms %}
          <option>{{ room[0] }}</option>
        {% endfor %}  
        </select> 
      </div>
      <div class="col-xs-4">
        <select class="form-control" name="type">
        {% for devicetype in templatevalues.devicetypes %}
          <option>{{ devicetype[0] }}</option>
        {% endfor %}  
        </select> 
      </div>
      <div class="col-xs-2">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>    
    </div>    
  </div>
</div>
</form>
<!--   -->
<form action=""  method="post">
{% if templatevalues.roomcheck %}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Well done!</strong> You successfully registered this room.
</div>
{% else %}
{% endif %} 
<div class="panel panel-info">
  <div class="panel-heading">
    Please enter a new room name
  </div>
  <div class="panel-body">
     <input type="text" class = "form-control" name="roomname" placeholder = "Room name" required> <br>
     <button type="submit" class="btn btn-default">Submit</button>
  </div>
</div>
</form>
<!--   -->
<form action=""  method="post">
{% if templatevalues.typecheck %}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Well done!</strong> You successfully registered this type of device.
</div>
{% else %}
{% endif %} 
<div class="panel panel-info">
  <div class="panel-heading">
    Please enter device type
  </div>
  <div class="panel-body">
     <input type="text" class = "form-control" name="devicetype" placeholder = "Device type" required> <br>
     <button type="submit" class="btn btn-default">Submit</button>
  </div>
</div>
</form>
<!--   -->
{% endblock contents %}
